html, body {
    height: 100%;
}

option {
    color: #999;
    font-size: 12px;
}

select {
    color: #999;
    font-size: 12px;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../Proxima Nova Regular.eot');
    src: url('../Proxima Nova Regular.eot?#iefix') format('embedded-opentype'),
    url('../Proxima Nova Regular.woff2') format('woff2'),
    url('../Proxima Nova Regular.woff') format('woff'),
    url('../Proxima Nova Regular.ttf') format('truetype'),
    url('../Proxima Nova Regular.svg#proxima_novaregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanovalight.eot');
    src: url('../fonts/proximanovalight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanovalight.woff2') format('woff2'),
    url('../fonts/proximanovalight.woff') format('woff'),
    url('../fonts/proximanovalight.ttf') format('truetype'),
    url('../fonts/proximanovalight.svg#proxima_novalight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
    url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
    url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
    url('../fonts/proxima_nova_regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-bold.woff2') format('woff2'),
    url('../fonts/proximanova-bold.woff') format('woff'),
    url('../fonts/proximanova-bold.ttf') format('truetype'),
    url('../fonts/proximanova-bold.svg#proxima_novaregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

body {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #999;
    font-family: "proxima_novaregular", sans-serif;
}

.form-control::-moz-placeholder {
    font-size: 12px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.main {
    /*height: 100%;*/
    padding-bottom: 30px;
}

header {
    background: #1cb9b4;
    min-height: 120px;
}

.logo {
    padding-top: 50px;
    float: left
}

.welcome {
    float: right;
    padding-top: 50px;
}

.welcome p {
    color: #fff;
    float: left;
    padding-right: 25px;
    font-size: 14px;
}

.fa-bars {
    color: #fff;
    font-size: 25px;
}

.menu-toggle {
    background: none;
    border: none;
}

.menu-toggle .icon-bar {
    background: none repeat scroll 0 0 #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: 7px;
    width: 35px;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    color: #198c88;
}

.heading span {
    font-weight: 100;
    font-style: normal;
    font-family: proxima_novalight;
}

h6 {
    font-size: 24px;
    color: #999999;
}

.entryInput {
    float: left;
    width: 38.5%;
    margin-right: 15px;
}

.entryInput1 {
    float: left;
    width: 38.5%;
}

.entryInput2 {
    float: left;
    width: 44%;
    margin-right: 15px;
    font-size: 12px;
    color: #999;
}

.entryInput3 {
    float: left;
    width: 33.3%;
}

/*
.location_form .entryInput2, .bussinessInfo .entryInput2 {width:44% !important}
.location_form .entryInput3, .bussinessInfo .entryInput3 {width:33.3% !important}
*/

.bussinessContact {
    width: 100%;
}

.addresec {
    margin-bottom: 18px;
}

.rightForm {
    float: right;
}

.main {
    margin-top: 40px;
}

.form-group.clearfix span {
    font-size: 12px;
    font-weight: normal;
}

.bussinessInfo {
    margin-top: 60px;
}

label {
    font-size: 15px;
    color: #999999;
    padding-bottom: 10px;
}

.left-control {
    width: 81% !important
}

/*.location_form .left-control, .bussinessInfo .left-control{ width: 81% !important }*/

.right-control {
    width: 73% !important
}

.bussinessInfo .form-group {
    margin-bottom: 35px;
}

footer {
    margin-top: 30px;
}

.footer_sec {
    border-top: 1px solid #e5e5e5;
}

.footer_sec p {
    padding: 25px 0;
    font-size: 14px;
    color: #999999;
}

.btn-primary {
    background: none repeat scroll 0 0 #1cb9b4;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 24px;
    margin-top: 0 !important;
}

.timeInfo select {
    padding: 0 0 0 13px !important;
}

.btn-primary:hover,.btn-sm:hover {
    background-color: #1ac5c0 !important;
    color: #fff;
}

/***************login page css**********************/
.login_sec {
    background: url(../images/login_bg.png) no-repeat;
    background-size: cover;
    max-height: 790px;
    height: 100%;
}

#login_sec .main {
    margin-top: 0px;
}

.loginfooter {
    background: #198c88;
    margin-top: 0px;
    padding: 20px 0;
}

.loginfooter .footer_sec {
    border: none;
}

.loginfooter .footer_sec p {
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

.loginForm {
    margin: 20% auto 0;
    max-width: 460px;
    text-align: center;

}

.loginForm .login_logo {
    text-align: center;
    margin-bottom: 50px;
}

.formlogin {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    max-width: 460px;
    min-height: 360px;
    padding: 30px 70px;
    text-align: center;
    overflow: hidden;
}

.loginForm input[type="email"] {
    border: none !important;
    box-shadow: none;
    border-bottom: 1px solid #aeaeae !important;
    border-radius: 0px;
    padding-left: 0px;
    height: 65px;
}

.loginForm input[type="password"] {
    border: none !important;
    box-shadow: none;
    border-bottom: 1px solid #aeaeae !important;
    border-radius: 0px;
    padding-left: 0px;
    height: 65px;
}

.loginForm .form-group {
    margin-bottom: 30px;
}

.loginForm .btn-primary {
    margin-top: 10px !important;
    float: left;
}

.loginForm .form-control::-moz-placeholder {
    font-size: 16px;
    color: #ccc;
}

.loginForm .reset {
    font-size: 14px;
    font-weight: normal !important;
    float: left;
    padding-top: 40px;
}

.loginForm .reset a {
    color: #1cb9b4;
}

.Reset_password {
    min-height: 250px !important;
}

/***************Emd login page css**********************/

/*************location page css*******************/

.location {
    margin-top: 60px;
}

.location .form-group {
    margin-bottom: 35px;
}

.add_location {
}

.add_location h5 {
    color: #999999;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

.add_location ul {
    padding: 0px;
    list-style: none;
}

.add_location h4 {
    color: #198c88;
    font-size: 12px;
    font-weight: bold;
}

.add_location p {
    font-size: 12px;
    width: 69%;
    line-height: 20px;
}

.add_location p a {
    color: #198c88;
    font-size: 12px;
    font-weight: bold;
}

.location_text {
    padding-bottom: 20px;
}

/*************End location page*******************/

/*************activity page css*******************/

.activitycamp {
    margin-top: 60px;
}

.active_service {
    border: 1px solid #e2e2e2;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.camp {
    padding: 15px 0;
    border-right: 1px solid #e2e2e2;
}

.camp1 {
    padding: 15px 0;
}

.active_service strong {
    color: #198c88;
    text-align: center;
}

.active_service .active {
    background: #eee;
}

.active_service p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
}

.activitycamp .form-group {
    margin-bottom: 35px;
}

.groupinput {
    margin-bottom: 30px;
}

.timeinput {
    width: 40%;
}

.selecttype {
    width: 46%;
}

.form-group.clearfix > img {
    padding-bottom: 30px;
    padding-right: 30px;
}

.checkgroup {
    margin-bottom: 10px !important;
}

.btn-primary1 {
    background: none repeat scroll 0 0 #1cb9b4;
    border: medium none;
    box-shadow: 0 -4px 0 -0.5px #198c88 inset;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 17px;
}

/*************End activity page css*******************/

/*****************welcome page**************/

.box {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: 180px;
    width: 265px;
    float: left;
    margin-bottom: 57px;
}

.midbox {
    margin: 0 57px;
}

.bussinesactivity {
    margin-top: 60px;
}

.box .text {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}

.box .text img {
    margin-bottom: 10px;
}

.box .text p {
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: #555555;
}

@-moz-document url-prefix() {
    select {
        color: #999 !important;
        font-size: 12px !important;
        background: url(../images/select_arrow.png) no-repeat right white !important;
        -moz-appearance: scrollbartrack-vertical;
        -webkit-appearance: none; /*Removes default chrome and safari style*/
        -moz-appearance: none; /*Removes default style Firefox*/
    }
}

/*********************End Welcome page css here***********/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {

        color: #999 !important;
        font-size: 12px !important;
        background: url(../images/select_arrow.png) no-repeat right white !important;
        -moz-appearance: scrollbartrack-vertical;
        -webkit-appearance: none; /*Removes default chrome and safari style*/
        -moz-appearance: none; /*Removes default style Firefox*/
    }
}

@media only screen and (max-width: 1024px) {
    .main {
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .bussinesactivity {
        text-align: center;
        width: 100%;
    }

    .box {
        margin: 0 20px 40px;
        width: 40%;
        float: none;
        display: inline-block;
    }

    .midbox {
        margin: 0 20px 40px;
    }
}

@media only screen and (max-width: 768px) {
    .left-control {
        width: 100% !important;
    }

    .bussinessInfo .form-group {
        margin-bottom: 20px;
    }

    .right-control {
        width: 100% !important;
    }

    .rightForm {
        float: left;
        width: 100%;
    }

    .main {
        height: auto;
        margin-top: 15px;
    }

    .location_form {
        margin-bottom: 50px;
    }

    .heading {
        font-size: 30px;
    }

    h6 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) {
    .left-control {
        width: 100% !important;
    }

    .bussinessInfo .form-group {
        margin-bottom: 20px;
    }

    .right-control {
        width: 100% !important;
    }

    .rightForm {
        float: left;
        width: 100%;
    }

    .main {
        height: auto;
        margin-top: 15px;
    }

    .bussinesactivity {
        text-align: center;
        width: 100%;
    }

    .box {
        margin: 0 20px 40px;
        width: 40%;
        float: none;
        display: inline-block;
    }

    .midbox {
        margin: 0 20px 40px;
    }

}

@media only screen and (max-width: 990px) {
    .bussinesactivity {
        text-align: center;
        width: 100%;
    }

    .box {
        margin: 0 20px 40px;
        width: 40%;
        float: none;
        display: inline-block;
    }

    .midbox {
        margin: 0 20px 40px;
    }
}

@media only screen and (max-width: 767px) {
    .heading {
        font-size: 21px;
    }

    .bussinessInfo {
        margin-top: 30px;
    }

    h6 {
        font-size: 16px;
    }

    .saveBtn {
        margin-top: 0px;
    }

    .entryInput {
        margin-right: 13px;
        width: 47.5%;
    }

    .entryInput1 {
        width: 47.5%;
    }

    .entryInput2 {
        width: 56%;
    }

    .entryInput3 {
        width: 38.3%;
    }

    .box {
        width: 100%;
        margin: 0 0 40px;
    }

    .midbox {
        margin: 0 0 40px;
    }

    .camp {
        border-right: none;
    }

    .container {
        padding-left: 10px !important;
        padding-right: 10px !important;
        overflow-x: hidden
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .logo {
        float: left;
        padding-top: 27px;
        text-align: center;
        width: 100%;
    }

    .welcome {
        float: right;
        padding-right: 31px;
        padding-top: 29px;
    }

    .formlogin {
        padding: 15px 25px;
    }

    .activitycamp .col-xs-3 {
        padding-left: 4px;
        padding-right: 6px;
    }

    .activitycamp .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .timeInfo input {
        width: 100% !important;
    }

    .timeInfo select {
        float: left;
        margin-right: 0 !important;
        margin-top: 10px;
        width: 100% !important;
    }

    .entryInput2 {
        width: 55%;
    }

    .outertimeInfo {
        width: 277px !important;
        top: -334px !important
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .entryInput {
        float: left;
        margin-right: 13px;
        width: 48.5%;
    }

    .entryInput1 {
        float: left;
        width: 48.5%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    .entryInput2 {
        margin-right: 19px;
    }

    .entryInput3 {
        width: 40.3%;
    }
}

.activitycamp .checkbox {
    display: inline-block !important;
}

.form-group p {
    color: #198c88;
    font-size: 12px;
}

.form-group label span {
    font-size: 12px;
    font-weight: normal;
}

.user_name {
    font-size: 16px !important;
}

.reset-psw input {
    width: 295px !important;
}

.welcome a {
    float: left;
    color: #fff;
    padding-right: 15px;
}

a {
    cursor: pointer;
}

.error_img {
    background: url("../images/invalid.png") no-repeat scroll right 41px top 48px rgba(0, 0, 0, 0);
}

.error {
    color: red !important;
}

.timeGroup {
    display: table;
    float: left;
}

.timeInfo {

    display: table-cell;
    float: none;
    margin: 5px 0;
}

.time-cell {
    display: table-cell;
    float: none
}

.timeInfo label {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 0 !important;
}

.timeInfo input {
    float: left;
    margin: 0 10px 0 0;
    width: 56px;
    text-align: center;
}

.timeInfo select {
    float: left;
    width: 74px;
    margin-right: 0 !important;
}

.timeTitle1 {
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px;
}

.timeTitle {
    width: 100% !important;
    float: left;
    text-align: left;
    margin-bottom: 10px;
}

.timeInfo.even {
}

.timeTo {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 0 15px !important
}

.location .checkbox {
    display: inline-block !important;
}

.outertimeInfo {
    background: none repeat scroll 0 0 #ededed;
    border-radius: 5px;
    display: block !important;
    float: left;
    left: 0;
    margin-bottom: 25px;
    padding: 20px;
    position: absolute;
    top: 0px;
    width: auto;
    min-height: 143px;
}

.outertimeInfo .closetime {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 12px;
    top: 5px;
}

.outertimeInfo .timeInfo {
    display: inherit;
}

.submittimebtn button {
    text-align: center;
    padding: 10px 10px;
    font-size: 13px;
    margin-top: 10px;
}

.submittimebtn {
    width: 100%;
    text-align: center;
}

.timerGroupInfo {
    left: 0;
    position: relative;
    top: 0;
}

/*
.timerarrow-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ededed;
  height: 0;
  left: 159px;
  position: absolute;
  top: 198px;
  width: 0;
}*/

.timerpopup {
    left: -7px;
    position: relative;
    top: -45px;
    width: 100%;
}

.timeGroup {
    margin-bottom: 1px !important;
    padding-bottom: 15px !important;
    position: relative;
}

.all_days {
    padding: 0px;
    clear: both;
    width: 100%;
    text-align: center;
}

.error_dir {
    bottom: 0;
    color: red;
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}

.timeGroup .form-control {
    padding: 6px 2px;
}

.plus_sec {
    color: #1cb9b4;
    display: table-cell;
    font-size: 14px;
    padding-left: 9px;
    vertical-align: middle;
    font-weight: bold;
}

/*checkbox css*/
.checkbox {
    padding-left: 20px;
    padding-right: 15px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-size: 12px !important
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: " " url("../images/checkbox_arrow1.png");
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {

    border-color: #ccc;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #1cb9b4;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #1cb9b4;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #1cb9b4;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #1cb9b4;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

select:focus, option:focus, select::-moz-focus-inner, option::-moz-focus-inner {
    outline: none !important;

}

a {
    outline: 0 !important;
}

select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 #000 !important;
}

/** 14-04-2015  Vikas**/
.pageTitle {
    display: table;
    width: 100%;
}

h2.headingPlus {
    margin: 0 !important;
    display: table-cell;
    float: none;
    font-family: 'proximanova-bold';
    font-weight: normal;
}

.plusSign {
    text-align: right;
    display: table-cell;
    float: none;
    vertical-align: middle
}

.searchMonthInfo {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 30px;
    float: left
}

.plusSign .navbar {
    margin-bottom: 0 !important;
    min-height: inherit !important;
    cursor: pointer
}

.plusSign .navbar-default {
    background-color: transparent !important;
    border: none !important
}

.plusSign .navmenu {
    text-align: left !important
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }

    .navbar {
        right: auto;
        background: none;
        border: none;
    }
}

.customerInfo {
    width: 100%;
    float: left
}

.customerInfo th {
    padding: 8px !important;
    background: #f7f7f7;
    font-weight: bold;
    color: #198c88;
    text-transform: uppercase;
    font-family: 'proxima_novaregular';
    border-bottom: none !important;
    text-align:left;
}

.customerInfo .table tr:nth-child(1) td {
    border: none !important;
}

.add-on input[type="text"] {
    width: 237px;
    border: 1px solid #e3e3e3;
    border-right: none !important;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    color: #999999;
    font-weight: normal;
    padding: 8px 13px 7px !important;
    border: 1px solid #e3e3e3;
    border-left: 0px;
    outline: none;
}

.add-on .input-group-btn > i {
    color: #c6c6c6
}

.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.add-on input[type="text"] {
    padding: 9px 13px 6px !important;
    height: auto !important;
    box-shadow: none !important
}

.searchBar {
    width: 273px;
    float: left
}

.searchBar form.navbar-form {
    padding: 0 !important;
}

.customerMemberInfo {
    float: right
}

.add-on .btn-default:hover, .add-on .btn-default:focus, .add-on .btn-default:active, .add-on .btn-default.active {
    background-color: transparent !important;
    border-color: #e3e3e3 !important;
    border-left-width: 0 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.customerMemberInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.customerMemberInfo ul li {
    color: #cccccc;
    font-size: 12px;
    font-family: 'proxima_novaregular';
    float: left;
    border-right: 1px solid #e5e5e5;
    padding-right: 39px;
    padding-left: 39px;
}

.customerMemberInfo ul li span {
    color: #999999;
    font-size: 24px;
    font-family: 'proxima_novaregular';
}

.customerMemberInfo ul li + li + li, .customerMemberInfo ul li:last-child {
    border-right: none;
    padding-right: 0 !important
}

.customerNameInfo input[type="text"] {
    float: left;
    margin-bottom: 15px !important;
}

/*.customerNameInfo span.input-group-btn .btn {position: absolute;right: 0;top: -49px;}*/
.customerNameInfo span {
    color: #999999;
    font-size: 14px;
    font-family: 'proxima_novaregular';
}

.customerNameInfo span.member_since {
    position: relative !important;
    float: left;
    width: 100%;
}

.customerNameInfo span.member_since span.input-group-btn {
    position: absolute;
    right: 37px;
    top: 0;
}

.dob_cus span.input-group-btn {
    float: right;
    position: relative;
}

/*.dob_cus span.input-group-btn .btn {
  position: absolute;
  right: 0;
  top: -49px;
}
*/
.input-group-addon {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    background-color: white !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #aeaeae !important;
}

.input-group-addon i {
    color: #808080;
}

span.member_since {
    float: left;
    position: relative !important;
    width: 100%;
}

span.member_since span.input-group-btn {
    position: absolute;
    right: 37px;
    top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .customerMemberInfo ul li {
        padding-left: 34px;
        padding-right: 34px;
    }

    .customerInfo table tr th {
        padding: 20px 6px !important;
    }
}

@media only screen and (max-width: 767px) {
    .customerMemberInfo {
        float: left
    }

    .customerMemberInfo ul li {
        padding-left: 5px;
        padding-right: 5px;
    }

    .searchBar .navbar-form {
        margin: 0 !important;
        margin-bottom: 15px !important
    }

    .customerNameInfo span.member_since span.input-group-btn {
        right: 37px !important;
    }

    .customer_img_name_info img {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
    .customerMemberInfo {
        float: right
    }
}

.customer_photoInfo {
    width: 100%;
    float: left;
}

/*.customerNameInfo{margin-bottom:29px;}*/
.customerNameInfo h2 {
    color: #198c88;
    font-size: 26px;
    font-family: 'proxima_novaregular';
    font-weight: bold;
    margin: 0 0 4px 0;
    line-height: 21px;
}

.customerNameInfo span {
    color: #999999;
    font-size: 14px;
    font-family: 'proxima_novaregular';
}

button.greenBtn {
    background: none repeat scroll 0 0 #1cb9b4;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    line-height: 19px !important;
    padding: 8px 31px !important;
}

.customer_photoInfo .col-md-7, .customer_photoInfo .col-md-12, .customer_photoInfo .col-md-5 {
    padding: 0;
}

.plusSign hr {
    width: 100%;
    float: left;
    border-color: #e1e1e1;
    margin-bottom: 19px;
    margin-top: 21px;
}

.cus_headingbox {
    margin-bottom: 4px;
}

.cus_headingbox h3 {
    color: #198c88;
    font-size: 16px;
    font-family: 'proximanova-bold';
    margin: 0;
    line-height: 16px;
}

.cus_headingbox h4 {
    margin: 0;
    padding: 0;
    color: #999999;
    font-size: 12px;
    font-family: 'proxima_novaregular';
    text-transform: uppercase;
}

.cus_headingbox h4 a {
    color: #999999;
    font-size: 12px;
    font-family: 'proxima_novaregular';
    text-transform: uppercase;
}

.box_cus {
    float: left;
    width: 100%; /*margin-top:20px;*/
}

.box_value, .box_label {
    width: 100%;
    float: left;
}

.box_label {
    color: #cccccc;
    font-size: 12px;
    font-family: 'proxima_novaregular';
    text-transform: uppercase;
    margin-bottom: 7px;
}

.box_value {
    color: #999999;
    font-size: 16px;
    font-family: 'proxima_novaregular';
}

.mB20 {
    margin-bottom: 20px !important
}

.add_membership {
    color: #198c88;
    font-size: 14px;
    font-family: 'proxima_novaregular';
    text-transform: inherit;
}

.close_customer_toggle {
    position: absolute;
    right: 23px;
    top: 10px;
}

.close_customer_toggle a {
    cursor: pointer;
    outline: none;
    border: none;
}

.customer_photoInfo .col-md-7 select, .customer_photoInfo .col-md-7 input[type="email"], .customer_photoInfo .col-md-7 input[type="text"], .customer_photoInfo .col-md-7 input[type="tel"], .customer_photoInfo .col-md-7 input[type="date"] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
    padding: 7px;
    line-height: inherit !important
}

.customer_photoInfo .col-md-7 textarea {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
    padding: 11px;
    width: 85% !important;
    max-width: 85%;
    min-width: 85%;
}

.customer_photoInfo .col-md-5 input[type="number"], .customer_photoInfo .col-md-5 input[type="text"], .customer_photoInfo .col-md-5 input[type="tel"], .customer_photoInfo .col-md-5 input[type="date"] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
    padding: 7px;
    width: 100% !important;
    line-height: inherit !important
}

.customer_photoInfo .col-md-5 textarea {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
    padding: 11px;
    width: 85% !important;
    max-width: 85%;
    min-width: 100%;
}

.customer_photoInfo .col-md-12 textarea {
    max-width: 100%;
    min-width: 100%;
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
    .customer_photoInfo .col-md-7 select, .customer_photoInfo .col-md-7 input[type="email"], .customer_photoInfo .col-md-7 input[type="text"], .customer_photoInfo .col-md-7 input[type="tel"], .customer_photoInfo .col-md-7 input[type="date"] {
        width: 85% !important;
    }

    .customerNameInfo span.member_since span.input-group-btn {
        right: 71px !important;
    }
}

@media only screen and (min-width: 1025px) {
    .customer_photoInfo .col-md-7 select, .customer_photoInfo .col-md-7 input[type="email"], .customer_photoInfo .col-md-7 input[type="text"], .customer_photoInfo .col-md-7 input[type="tel"], .customer_photoInfo .col-md-7 input[type="date"] {
        width: 85% !important;
    }

    .customerNameInfo span.member_since span.input-group-btn {
        right: 71px !important;
    }
}

@media only screen and (max-width: 767px) {
    .customer_photoInfo .col-md-7 input[type="email"], .customer_photoInfo input[type="email"], .customer_photoInfo input[type="text"], .customer_photoInfo input[type="tel"], .customer_photoInfo input[type="date"], .customer_photoInfo textarea, .customer_photoInfo select {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    /*.customer_photoInfo .col-lg-7, .customer_photoInfo .col-md-7, .customer_photoInfo .col-sm-7 {margin-top:20px;}*/
}

@media only screen and (min-width: 767px) and (max-width: 1024px) and (orientation: Portrait) {
    .customer_photoInfo input[type="email"], .customer_photoInfo input[type="text"], .customer_photoInfo input[type="tel"], .customer_photoInfo input[type="date"], .customer_photoInfo textarea, .customer_photoInfo select {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
}

.Inputwd100 {
    width: 100% !important;
}

.modal-dialog {
    width: 478px !important;
}

.offcanvas {
    background-color: #f7f7f7 !important;
    border: medium none !important;
    padding: 45px !important;
    overflow: hidden !important;
    -webkit-transition: all .5s, -webkit-transform .5s;
    transition: all .5s ease-out, -webkit-transform .5s
}

.modal-backdrop.in {
    opacity: 1 !important;
}

.modal-backdrop {
    background: none !important;
}

.modal-content {
    box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
    .modal-dialog {
        width: 100% !important;
    }
}

body.modal-open {
    padding-right: 320px;
}

body {
    -webkit-transition: all .2s, -webkit-transform .2s;
    transition: all .2s ease-out, -webkit-transform .2s
}

@media only screen and (max-width: 600px) and (orientation: Portrait) {
    .customer_img_name_info .col-xs-7 {
        width: 100% !important;
    }

    .customerNameInfo h2 {
        margin-top: 20px;
    }
}

.plusSign img {
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: Portrait) {
    body.modal-open {
        position: relative;
        left: -480px !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: Landscape) {
    body.modal-open {
        position: relative;
        left: -460px !important;
        padding-right: 0 !important;
    }
}

.outerTimerSec {
    width: 100% !important;
    float: left !important;
}

.mT0 {
    margin-top: 0 !important;
}

/*payPal Info*/
.paypalInfo {
    margin-top: 52px;
    padding: 0;
    width: 100%;
    float: left
}

.paypalInfo .paypalImg {
    float: left;
    padding-right: 16px;
    margin-top: 5px;
}

.paypalInfo .paypalText {
    margin: 0;
    padding: 0;
    float: left;
}

.paypalInfo .paypalText h4 {
    color: #999999;
    font-size: 16px;
    font-family: 'proximanova-bold';
    margin: 0;
    padding: 0;
}

.paypalInfo .paypalText p {
    color: #999999;
    font-size: 12px;
    font-family: 'proxima_novaregular';
    margin: 0;
}

.paypalInfo .paypalText a {
    color: #198c88;
    font-size: 12px;
    font-family: 'proxima_novaregular';
}

@media only screen and (max-width: 568px) {
    .paypalInfo .paypalImg {
        margin-bottom: 15px;
    }
}

.heading {
    font-family: 'proximanova-bold';
}

.paypalSuccess {
    margin: 0 !important;
    padding: 0 !important;
}

.paypalSuccess h4 {
    color: #198c88;
    font-size: 16px;
    font-family: 'proximanova-bold';
    margin: 0;
    padding: 0;
}

.paypalSuccess p {
    color: #999999;
    font-size: 16px;
    font-family: 'proximanova-bold';
    margin: 0;
    padding: 0;
}

.paypalSuccess a {
    color: #198c88;
    font-size: 12px;
    font-family: 'proxima_novaregular';
    margin: 0;
    padding: 0;
}

.paypalBtn {
    background: #1cb9b4;
    border: medium none;
    box-shadow: 0 -4px 0 -0.5px #198c88 inset;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    padding: 14px 24px;
    font-family: 'proximanova-bold';
}

.mT36 {
    margin-top: 36px;
}

/* end of paypal info */
.pos_pick {
    top: -256px !important;
}

.activity_btn {
    margin-top: 238px !important;
}

.class_btn {
    margin-top: 97px !important;
}

.marginTop13 {
    margin-top: 20px !important;
}

.active_service .select_activity {
    cursor: pointer;
}

.customerNameInfo .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 2px !important
}

.days_week {
    font-size: inherit !important;
}

.days_week .checkbox {
    padding-left: 0 !important;
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 17px !important;
    border: 1px solid #ccc !important;
    outline: none !important;
}

.days_week .checkbox label {
    display: inline-block !important;
    vertical-align: middle !important;
    position: relative !important;
    padding-left: 0px !important;
    outline: none !important;
    text-align: center !important;
    width: 17px !important;
}

.days_week .checkbox label::before {
    background-color: #fff !important;
    color: #fff !important;
    content: "" !important;
    display: inline-block !important;
    height: 23px !important;
    left: 0 !important;
    margin-left: 0 !important;
    position: absolute !important;
    top: -3px !important;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 17px;
    z-index: -1;
    outline: none !important;
}

.days_week .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
    outline: none;
}

.days_week .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1 !important;
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 17px !important;
    outline: none !important;
    height: 23px !important;
    color: #fff !important;
}

.days_week .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px !important;
    outline: none !important;
    color: #fff !important;
}

.days_week .checkbox-primary input[type="checkbox"]:checked + label::before {
    outline: none !important;
    color: #fff !important;
}

.days_week .checkbox label:focus {
    color: #fff !important;
    border: 1px solid red !important
}

.days_week .checkbox input[type="checkbox"]:checked + label::after {
    content: "" !important;
    background: rgba(28, 185, 180, 0.1) !important;
    color: #fff !important;
    overflow: hidden !important;
    height: 20px !important;
}

.days_week .checkbox label {
    font-size: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.customerNameInfo p {
    clear: both;
    margin: 0;
    padding: 0;
    position: relative;
    top: -9px;
}

.customer_photoInfo input {
    margin-bottom: 15px;
}

.customer_photoInfo p {
    margin: 0;
    padding: 0;
    position: relative;
    top: -9px;
    clear: both;
}

.help-block.error {
    font-size: 12px !important;
}

.margin0 {
    margin: 0 !important;
}

.customerForm hr {
    margin-top: 11px !important;
}

.customerForm hr.marginT21 {
    margin-top: 21px !important;
}

.easypiechart .percent {
    position: absolute;
    width: 200px;
    line-height: 196px;
    font-size: 30px;
    font-weight: 300;
    color: #808080;
    text-align: center;
}

.easypiechart .percent:after {
    content: '%';
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: rgb(250, 250, 250);
}

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    border-radius: 4px;
}

.portlet-title {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #AAA;
    padding: 0px;
    min-height: 48px;
}

.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 10px 0px;
}

.portlet > .portlet-title > .title {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0px;
    font-weight: bold;
    color: #4DB3A4 !important;
}

.portlet.light .portlet-body {
    padding-top: 20px;
}

.portlet > .portlet-body {
    clear: both;
    border-radius: 0px 0px 4px 4px;
}

.dashboard-stat.green-haze {
    background-color: #44b6ae;
}

.dashboard-stat {
    margin-bottom: 55px;
    overflow: hidden;
}

.dashboard-stat .visual {
    width: 0px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 55px;
    font-size: 35px;
    line-height: 35px;
}

.dashboard-stat .details .desc {
    text-align: center;
    font-size: 45px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
}

.dashboard-stat .details {
    position: absolute;
    float: left;
    padding-right: 15px;
    width: 90%;
}

.dashboard-stat .details .number {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #FFFFFF;

}

.dashboard-stat:before, .dashboard-stat:after {
    content: " ";
    display: table;
}
.small .details .desc {
  font-size:40px;
  padding-top:15px;

}
.small .visual {
  height:25px !important;

}
.small .details{
 width:35%;
}
.small {
background-color:#00cf9e !important;
}
.table-condensed th {
    padding: 8px !important;
    background: #f7f7f7;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    font-family: 'proxima_novaregular';
    border-bottom: none !important;

}
.small {
margin-bottom:30px;
}

.table-condensed td {
    color: #198c88;
}

.table-condensed td i {
    color: #198c88;
    font-weight: normal;
    font-size: 18px;

}

.table-condensed tr:nth-child(1) td {
    border: none !important;
}

.dropdown-toggle .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: #f7f7f7;
}

.dropdown-menu li a {
    color: #198c88;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li:before {
    content: " | ";
}

#navigation li:first-child:before {
    content: none;
}

@media (min-width: 992px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.ng-table-counts {
    display: none;
}
.fc-event {
background-color:00BAB4 !important;
}