<section class="main">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h2 class="heading"><span>Step 3:</span>Add1 an Activity</h2>
<h6>Lorem ygygg dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</h6>


<div class="activitycamp">

<div class="active_service">


<div class="col-lg-6 col-md-6 camp"><strong>This Activity is a Class or a Camp</strong>
<p>Activities that are re-occuring, or are charged per person.</p>

</div>
<div class="col-lg-6 col-md-6 camp1 active"><strong>This Activity is a Service </strong>
<p>Activities that charge per item, i.e. 1 bowling lane.</p></div>


</div>


<form>
<div class="col-lg-5 col-md-5">
<div class="row">
<div class="form-group ">
<label for="exampleInputEmail1">Title*</label>
<input type="text" class="form-control left-control"  placeholder="Joe’s Bungee Jumping">
</div>
<div class="form-group clearfix">
<label for="exampleInputEmail1" class="bussinessContact clearfix">Location*</label>
<select class="form-control  selecttype">
<option>Select Location</option>
<option>Lorem ipsum</option>
<option>Lorem ipsum</option>
<option>Lorem ipsum </option>
<option>Lorem ipsum</option>
<option>Lorem ipsum</option>
</select>

</div>

<div class="row groupinput">

  <div class="col-xs-6">
  <label for="exampleInputEmail1">Duration*</label>
    <select class="form-control">
<option>Select Location</option>
<option>Lorem ipsum </option>
<option>Lorem ipsum </option>
<option>Lorem ipsum </option>
<option>Lorem ipsum </option>
<option>Lorem ipsum  </option>
</select>
  </div>
  <div class="col-xs-6">
  <label for="exampleInputEmail1">How Many Available?</label>
    <input type="text" class="form-control timeinput" placeholder="i.e. 10, 12">
  </div>
</div>

<div class="row groupinput">
  <div class="col-xs-3">
  <label for="exampleInputEmail1">Max Size*</label>
    <input type="text" class="form-control" placeholder="i.e. 20">
  </div>
  <div class="col-xs-3">
  <label for="exampleInputEmail1">Price*</label>
    <input type="text" class="form-control" placeholder="$ 0.00">
  </div>
  

  <div class="col-xs-5">
  <label for="exampleInputEmail1">What Service*</label>
    <input type="text" class="form-control" placeholder="i.e. Bowling Lanes">
  </div>
</div>

<div class=" clearfix"></div>
<div class="form-group checkgroup clearfix">
<label for="exampleInputPassword1">How Often &amp; Times*</label>
<div class="clearfix"></div>


<div class="checkbox checkbox-primary">
   <input type="checkbox"  checked="" id="checkbox2" />
   <label>
       Mon
   </label>
      
   
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" />
   <label>
       Tue
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" >
   <label>
       Wed
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" />
   <label>
       The
   </label>
</div>  

<div class="checkbox checkbox-primary">
   <input type="checkbox" >
   <label >
       Fri
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox">
   <label >
       Sat
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" >
   <label >
       Sun
   </label>
</div>
                                   

</div>


<div class="form-group clearfix">
<label for="" class="bussinessContact clearfix">Photos</label>
<select class="form-control  selecttype">
<option>Select Location</option>
<option>Lorem ipsum</option>
<option>Lorem ipsum</option>
<option>Lorem ipsum</option>
<option>Lorem ipsum</option>
<option>Lorem ipsum</option>
</select>

</div>

<div class="form-group clearfix">
<img src="images/upload-img1.png"  alt=""/> <img src="images/upload-img2.png"  alt=""/>  <img src="images/upload-img1.png"  alt=""/> </div>
</div>
</div>
<div class="col-lg-6 col-md-6 rightForm">
<div class="row">
<div class="form-group">
<label for="exampleInputEmail1">Activity Description</label>
<textarea class="form-control" rows="12" placeholder="Joe’s bungee jumping is the best ever. We are only open 2 days a week. We have been in business since 1982. We are amazing!"></textarea>
</div>

</div>
</div>
<div class="clearfix"></div>

<button type="submit" id="reloader" class="btn btn-default btn-primary">Save &amp; Continue</button>

</form>
</div>
</div>
</div>
</div>
</section>
