<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="main">
<div class="container">
<div class="row">

<div class="col-lg-12">

    <div class="pageTitle">
         <h2 class="heading headingPlus" style="float:left"> Your Customers</h2>
         <div class="plusSign">
            <img src="images/plus.png"   ng-click="openAside('right')"/>             
         </div>
    </div>
   

<div class="searchMonthInfo">
<div class="searchBar">
<form class="navbar-form" role="search">
<div class="input-group add-on">
<input class="form-control" placeholder="Customer Search" name="srch-term" id="srch-term" type="text">
<div class="input-group-btn">
<button class="btn btn-default" type="submit"><img src="images/search.png" /></button>
</div>
</div>
</form>
</div>

<div class="customerMemberInfo">
<ul>
	<li>MEMBERS {{customerr.firstName}}<br/><span>124</span></li>
    <li>EXPIRING (30 DAYS) <br/><span>5</span></li>
    <li>NEW THIS MONTH <br/><span>1</span></li>
</ul>
</div>
</div>      

<div class="table-responsive customerInfo">
<table class="table table-condensed">
      <thead>
        <tr>
          <th>Name <span class="caret"></span></th>
          <th>Account Status <span class="caret"></span></th>
          <th>Membership <span class="caret"></span></th>
          <th>Start <span class="caret"></span></th>
          <th>Expiration <span class="caret"></span></th>
        </tr>
      </thead>
      <tbody>
      
        <tr>
          <td>Hello Kitty</th>
          <td>on hold</td>
          <td>monthly</td>
          <td>1/11/2015</td>
          <td>1 day</td>
        </tr>
        
        <tr>
          <td>Super Man</th>
          <td>past due</td>
          <td>3 month</td>
          <td>2/1/2015</td>
          <td>3 days</td>
        </tr>
        
        <tr>
          <td>John Doe</th>
          <td>payment expired</td>
          <td>6 month</td>
          <td>2/12/2014</td>
          <td>1 week</td>
        </tr>

        <tr>
          <td>Jane Doe</th>
          <td>good</td>
          <td>9 month</td>
          <td>3/14/2015</td>
          <td>3 weeks</td>
        </tr>

        <tr>
          <td>Patty Cupcakes</th>
          <td>on hold</td>
          <td>1 month</td>
          <td>3/28/2015</td>
          <td>1 month</td>
        </tr>

        <tr>
          <td>Yogi Ben</th>
          <td>past due</td>
          <td>6 months</td>
          <td>4/1/2015</td>
          <td>6 months</td>
        </tr>

        <tr>
          <td>Heather Jackson</th>
          <td>past due</td>
          <td>Annual</td>
          <td>11/30/2014</td>
          <td>1 year</td>
        </tr>

        <tr>
          <td>Karen Robinson</th>
          <td>good</td>
          <td>Annual</td>
          <td>12/1/2014</td>
          <td>2 years</td>
        </tr>
        
      </tbody>
    </table>
</div>

</div>


</div>
</div>
</section>
