<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="main">
<div class="container">
<div class="row">

<div class="col-lg-12">

    <div class="pageTitle">
         <h2 class="heading headingPlus" style="float:left"> Your Customers</h2>
         <div class="plusSign">
            <img src="images/plus.png"   ng-click="openMod('right')"/>
         </div>
    </div>
   

<div class="searchMonthInfo">
<div class="searchBar">
 <input type="text" class="form-control" placeholder="Search " ng-model="search" />



</div>
<div class="customerMemberInfo">
<ul>
	<li>MEMBERS {{customerr.firstName}}<br/><span>124</span></li>
    <li>EXPIRING (30 DAYS) <br/><span>5</span></li>
    <li>NEW THIS MONTH <br/><span>1</span></li>
</ul>
</div>
</div>
<div class="customerInfo table-responsive">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in $data | filter:search">
             <td data-title="'Name'" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'Account Status'" sortable="'status'">
                {{user.accountStatus}}
            </td>
              <td data-title="'Membership'" sortable="'membership'">
                {{user.membership}}
            </td>
              <td data-title="'Start'" sortable="'start'">
                {{user.start}}
            </td>
             <td data-title="'Expiration'" sortable="'expiration'">
                {{user.expiration}}
            </td>




        </tr>
    </table>

</div>

</div>


</div>
</div>
</section>
