<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="main">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="pageTitle">
                    <h2 class="heading headingPlus" style="float:left">Wednesday, April 1 2015</h2>

                    <div class="dropdown pull-right">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1"
                                style="border:none !important;"
                                data-toggle="dropdown" aria-expanded="true">

                            <img src="images/plus.png">
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add an Activity</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add a Reservation</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add a Customer</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-md-8 mT36">
                <div id="navigation">
                    <ul>
                        <li><a href="#">1 DAY</a></li>
                        <li><a href="#">3 DAY</a></li>
                        <li><a href="#">GOTO SCHEDULER</a></li>
                    </ul>
                </div>
                <!-- navigation -->
            </div>
            <div class="col-md-8">
                <div class="table-responsive mT36 table-condensed">

                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="4" style="text-align: center;">TODAY</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>


                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="4" style="text-align: center;">TOMORROW</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>

                        <tr>
                            <td>11AM - 1PM

                            <td>Pilates for Dummies</td>
                            <td>6/8</td>
                            <td style="text-align: right;"><i class="fa fa-user"></i><i class="fa fa-plus-circle"
                                                                                        style="margin-left: 15px;"></i>
                            </td>


                        </tr>


                        </tbody>
                    </table>

                </div>

            </div>
            <div class="col-md-4 mT36">
                <div class="col-md-12">
                    <div class="dashboard-stat green-haze" href="javascript:;">
                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="number">
                                REVENUE
                            </div>
                            <div class="desc">
                                $20,000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left" style="width:80px;margin-top:20px;">
                        <strong>MEMBERS</strong> <br>
                        TOTAL
                    </div>
                    <div class="pull-left" style="width:140px;margin-top:20px;">
                        <sparklinechart data="{{Customers}}"></sparklinechart>
                    </div>

                    <div class="small dashboard-stat green-haze pull-left" href="javascript:;" style="width:120px;">
                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="desc">
                                200
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left" style="width:80px;margin-top:20px;">
                        <strong>PROSPECTS</strong> <br>
                        NEW
                    </div>
                    <div class="pull-left" style="width:140px;margin-top:20px;">
                        <sparklinechartred data="{{Customers1}}"></sparklinechartred>
                    </div>

                    <div class="small dashboard-stat green-haze pull-left" href="javascript:;" style="width:120px;background-color:#FB5139!important;">
                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="desc">
                                20
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left" style="width:80px;margin-top:20px;">
                        <strong>MEMBERS</strong> <br>
                        NEW
                    </div>
                    <div class="pull-left" style="width:140px;margin-top:20px;">
                        <sparklinechart data="{{Customers1}}"></sparklinechart>
                    </div>

                    <div class="small dashboard-stat green-haze pull-left" href="javascript:;" style="width:120px;">
                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="desc">
                                10
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left" style="width:80px;margin-top:20px;">
                        <strong>MEMBERS</strong> <br>
                        EXPIRING
                    </div>
                    <div class="pull-left" style="width:140px;margin-top:20px;">
                        <sparklinechartred data="{{Customers2}}"></sparklinechartred>
                    </div>

                    <div class="small dashboard-stat green-haze pull-left" href="javascript:;" style="width:120px;background-color:#FB5139!important;">
                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="desc">
                                100
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    </div>
</section>
