<section class="main">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <h2 class="heading"> Welcome, Ilana! <span>Let’s set up Your Business. </span></h2>
                <h6>Below is what we need from you to get Your Business up and running.</h6>


                <div class="bussinesactivity">



                    <div class="box"><div class="text"> <p>
                                <a href='/#/merchant'>
                                    <img src="images/business_img_normal.png" alt="" hover-bg-image="{{image_bussiness}}" data="images/business_img_normal.png"/>
                                </a> <br>

                                Business  </p> </div></div>   
                    <div class="box midbox"> <div class="text"><p>
                                <a href='/#/activity_service'>
                                    <img src="images/activity_img_normal.png" alt="" hover-bg-image="{{image_activity}}" data="images/activity_img_normal.png"/>
                                </a><br>
                                Activities</p></div></div>
                    <div class="box"><div class="text"><p>
                                <a href='/#/customer'>
                                    <img src="images/membership_img_normal.png"  alt="" hover-bg-image="{{image_membership}}" data="images/membership_img_normal.png"/></a><br>
                                Memberships</p></div></div>
                    <div class="box"><div class="text"><p>

                                <img src="images/social_img_normal.png"  alt="" hover-bg-image="{{image_social}}" data="images/social_img_normal.png"/>

                                <br>
                                Social</p></div></div>
                    <div class="box midbox"><div class="text"><p><a href='#/paypal'><img src="images/payment_img_normal.png"  alt="" hover-bg-image="{{image_payment}}" data="images/payment_img_normal.png"/></a><br>
                                Payment</p></div></div>
                    <div class="box"><div class="text"><p><img src="images/staff_img_normal.png"  alt="" hover-bg-image="{{image_staff}}" data="images/staff_img_normal.png"/><br>
                                Staff</p></div></div>



                </div>

            </div>

        </div>


    </div>

</section>
