<section class="main">

        <div class="container">

            <div class="row">
            <div class="col-lg-12">
            
            <h2 class="heading"> Welcome, Ilana! <span>Let’s set up Your Business. </span></h2>
            <h6>Below is what we need from you to get Your Business up and running.</h6>
            
            
            <div class="bussinesactivity">
       
            
   
            <div class="box"><div class="text"> <p><a href='/#/merchant'><img src="images/business_img.png" alt=""/></a> <br>
Business  </p> </div></div>   
             <div class="box midbox"> <div class="text"><p><a href='/#/activity_service'><img src="images/activity_img.png" alt=""/></a><br>
Activities</p></div></div>
              <div class="box"><div class="text"><p><img src="images/membership_img.png"  alt=""/><br>
Memberships</p></div></div>
               <div class="box"><div class="text"><p><img src="images/social_img.png"  alt=""/><br>
Social</p></div></div>
                <div class="box midbox"><div class="text"><p><img src="images/payment_img.png"  alt=""/><br>
Payment</p></div></div>
                 <div class="box"><div class="text"><p><img src="images/staff_img.png"  alt=""/><br>
Staff</p></div></div>
          
            
            
 </div>
            
            </div>
            
            </div>


        </div>

    </section>
