<section class="main">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div ng-if="msg " class="alert alert-success alert-dismissable">
                    <button class="close" data-dismiss="alert">&times;</button>
                    {{Reset_message}}
                </div>
                <h2 class="heading"><span>Step 1:</span> About Your Business</h2>
                <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</h6>
                <div ng-if="success && data" class="alert alert-success alert-dismissable">
                            <button class="close" data-dismiss="alert">&times;</button>
                            {{success}}
                        </div>
                        <div ng-if="error && data" class="alert alert-danger alert-dismissable">
                            <button class="close" data-dismiss="alert">&times;</button>
                            {{error}}
                        </div>
                <form name="BussinessForm"
                      class="bussinessInfo" novalidate>
                    <div class="col-lg-5 col-md-5">
                        <div class="row">


                                <div class="form-group ">
                                    <label for="exampleInputEmail1">Business Name*</label>
                                    <input type="text" name="name" class="form-control left-control"
                                           ng-model="merchant.shortName" placeholder="Enter Business" required="">
                                    <p ng-if="BussinessForm.name.$invalid && showValidation" class="help-block error">
                                        Business name is required.</p>

                                </div>
                                <div class="form-group clearfix">
                                    <label for="exampleInputEmail1" class="bussinessContact clearfix">Business
                                        Contact*</label>

                                    <input type="text" class="form-control entryInput" placeholder="Joe"
                                           name="firstname" ng-model="merchant.primaryContactPerson.name.firstName"
                                           required>

                                    <input type="text" class="form-control entryInput1" placeholder="Smith"
                                           ng-model="merchant.primaryContactPerson.name.lastName">

                                    <p ng-show="BussinessForm.firstname.$isdirty"
                                       class="help-block error" style="clear:both;margin-top:35px;">First name is
                                        required.</p>

                                </div>


                                <div class="form-group clearfix">


                                    <label for="exampleInputPassword1">Website</label>
                                    <input type="text" class="form-control  left-control" id="exampleInputPassword1"
                                           placeholder="www.bungee.com" name="companyUrl"
                                           ng-model="merchant.companyUrl">
                                </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Location*</label>
                                             <input type="text" class="form-control left-control addresec" name="locationName"
                                           ng-model="merchant.primaryAddress.locationName"
                                           placeholder="Location Name, i.e. Sunnyvale Location" required>
                                 <p ng-show="BussinessForm.locationName.$error.required && showValidation"
                                       class="help-block error">Location is required</p>


                            </div>

                                <div class="form-group">
                                <input ng-model="vm.address.formattedAddress"
                                   ng-autocomplete details="vm.address" id="address" name="address" type="text"
                                   class="form-control"/>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 rightForm">
                            <div class="row">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Brief Description</label>
                                    <textarea class="form-control" rows="12" name="description"
                                              ng-model="merchant.description"></textarea>
                                </div>


                                <div class="form-group clearfix">


                                    <label for="exampleInputPassword1">Phone & E-mail*<br>
                                        <span>If you have multiple numbers & e-mails, include the admins.</span></label>

                                    <input ui-mask="(999) 999-9999" class="form-control right-control addresec"
                                           ng-model="merchant.primaryContactPerson.phone.number" name="number">
                                    <!--<p ng-show="BussinessForm.number.$invalid && !BussinessForm.number.$pristine || BussinessForm.phone.$error.number" class="help-block">Valid Phone number is required</p>

                                    <p ng-show="(BussinessForm.number.$error.minlength || BussinessForm.number.$error.maxlength)|| BussinessForm.number.$dirty" class="help-block">phone number should be 10 digits</p>
                                    -->

                                    <!--<input type="number" class="form-control" ng-minlength="10" ng-maxlength="10"  id="inputPhone" name="phone" placeholder="Phone" ng-model="user.phone" ng-required="true">
                                    <span class="help-block" ng-show="registration.phone.$error.required || registration.phone.$error.number">Valid phone number is required</span>
                                    <span class="help-block" ng-show="((registration.phone.$error.minlength || registration.phone.$error.maxlength) && registration.phone.$dirty) ">phone number should be 10 digits</span>
                                    -->
                                    <input type="email" class="form-control  right-control addresec"
                                           placeholder="you@yourdomain.com"
                                           ng-model="merchant.primaryContactPerson.emailId" name="emailId" required>

                                    <p ng-show="BussinessForm.emailId.$error.required && showValidation"
                                       class="help-block error">Email is required</p>

                                    <p ng-show="BussinessForm.emailId.$invalid && showValidation"
                                       class="help-block error">Enter a valid email.</p>

                                </div>

                            </div>
                        </div>

                        <div class="clearfix"></div>


                        <!--<button type="submit" id="reloader" class="btn btn-default btn-primary" ng-disabled="BussinessForm.$invalid">Save & Continue</button>-->
                        <button type="submit" id="reloader" class="btn btn-default btn-primary" ng-click="create_merchant(merchant)">Save & Continue</button>
                </form>


            </div>

        </div>


    </div>

</section>
