<section class="main">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h2 class="heading"><span>Step 6:</span> Wanna get paid?</h2>
<h6>Accept payments from your customers</h6>


<div class="paypalInfo">
    <div class="paypalImg"> <img src="images/paypal.png" /> </div>
    <div class="paypalText"> 
    	<h4>Connect your Paypal Account</h4>
        <p>Please click the PayPal Logo below to make sure you get paid! <br/> 
Don’t have a paypal account? <a href="#"> Sign up now. </a></p>
    </div>
</div>
	<button class="btn btn-default paypalBtn mT36" type="submit">Connect Paypal</button>    

</div>
</div>
</div>
</section>