<section class="main">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <h2 class="heading">Forgot Your Password</h2>
                <h6>To reset your password, enter the email address you use to sign in to outingz.com</h6>

                <form name="resetForm"  class="bussinessInfo reset-psw" novalidate>
                    <div class="col-lg-7 col-md-6">
                        <div class="row">


                            <div class="form-group ">
                                <label for="exampleInputEmail1">Your Email</label>
                                <input type="email" minlength="8" maxlength="32" class="form-control" id="exampleInputEmail1" placeholder="Enter Email" name="email" ng-model="email" required>
                                <p ng-show="resetForm.password.$error.minlength || resetForm.password.$error.maxlength" class="error">Password must be 8 to 32 chars long</p>
                                <p ng-show="resetForm.password.$error.required && resetForm.password.$dirty" class="error">Password is required</p>
                            </div>
                            <div ng-if="success" class="alert alert-success alert-dismissable"><button  class="close" data-dismiss="alert">&times;</button>{{success}}</div>
                            <div ng-if="error" class="alert alert-danger alert-dismissable"><button  class="close" data-dismiss="alert">&times;</button>{{error}}</div>
                            <button type="submit" id="reloader" class="btn btn-default btn-primary mT0">Reset Your Password</button>
                            </form>

                        </div>

                    </div>


            </div>
        </div>
    </div>

</section>
