<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        
        <div class="timerGroupInfo">
        
        <div class="form-group checkgroup clearfix">
<label for="exampleInputPassword1">Location Schedule*</label>
<div class="clearfix"></div>



<div class="checkbox checkbox-primary">
   <input type="checkbox" id="checkbox2" ng-mouseenter="showHover($event,132,'mon')" ng-model="mon" ng-click="showPop($event,132,'mon')" ng-disabled="disb('mon')" ng-mouseleave="closePop()"/>
   <label>
       Mon
   </label>   
</div>

<div class="checkbox checkbox-primary">
    <input type="checkbox" ng-mouseenter="showHover($event,80,'tue')" ng-model="tue" ng-click="showPop($event,80,'tue')" ng-mouseleave="closePop()" ng-disabled="disb('tue')"/>
   <label>
       Tue
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" ng-mouseenter="showHover($event,25,'wed')" ng-model='wed' ng-click="showPop($event,25,'wed')" ng-mouseleave="closePop()" ng-disabled="disb('wed')" />
   <label>
       Wed
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" ng-mouseenter="showHover($event,-22,'thu')" ng-model="thu" ng-click="showPop($event,-22,'thu')" ng-mouseleave="closePop()" ng-disabled="disb('thu')"/>
   <label>
       The
   </label>
</div>  

<div class="checkbox checkbox-primary">
   <input type="checkbox" ng-mouseenter="showHover($event,-65,'fri')" ng-model="fri" ng-click="showPop($event,-65,'fri')" ng-mouseleave="closePop()" ng-disabled="disb('fri')" />
   <label >
       Fri
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" ng-mouseenter="showHover($event,-112,'sat')" ng-model="sat" ng-click="showPop($event,-112,'sat')" ng-mouseleave="closePop()" ng-disabled="disb('sat')" />
   <label >
       Sat
   </label>
</div>

<div class="checkbox checkbox-primary">
   <input type="checkbox" ng-mouseenter="showHover($event,-158,'sun')" ng-model="sun" ng-click="showPop($event,-158,'sun')" ng-mouseleave="closePop()" ng-disabled="disb('sun')" />
   <label >
       Sun
   </label>
</div>
                                   

</div>
        
    <div class="timerpopup" >    
            <div class="outertimeInfo" ng-show="showPopover" >    
        
            <div class="closetime" > <img src="../images/cross_img.png" alt="close" ng-click="closePop('close')"/> </div>
        <div class="timeTitle1"> Select Your Times for <strong>{{current_day}}</strong> </div>	
        <div class="form-group timeGroup">
            <div class="timeInfo even timepopup">

                <div class="time-cell">
                    <input type="number"  min="1" max="12" class="form-control entryInput3" ng-model="from">
                    <select class="form-control  entryInput2" ng-model="from_type" ng-options="c.code as c.name for c in period">
                        <option value=''>AM/PM</option>                        
                    </select>
                </div>		
            </div>    

            <div class="timeTo">TO </div>

            <div class="timeInfo">

                <div class="time-cell">        
                    <input type="number"  min="1" max="12" class="form-control entryInput3" ng-model="to">
                    <input type="hidden" ng-model="day">
                    <select class="form-control  entryInput2" ng-model="to_type" ng-options="c.code as c.name for c in period" >
                        <option value=''>AM/PM</option> 
                    </select>
                </div>	
            </div> 
             <span class="error_dir">{{error_directive}}</span>
            
        </div>
       
        <div class="all_days"><input type="checkbox" ng-model='all' ng-click="all_days()"> Apply to all days</div>
        
        <div class="submittimebtn"> <button type="button" class="btn btn-default saveBtn" ng-click="save_time()">Save & Close </button> </div>
        </div>
            <div class="timerarrow-down">&nbsp;</div>
        </div>   
        </div>        
        
        



    </body>
</html>
