<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        
        
        <div class="outertimeInfo" ng-show="showPopover">    
        
            <div class="closetime" ng-click="closePop()"> x </div>
        <div class="timeTitle"> Select Time </div>	
        <div class="form-group timeGroup">
            <div class="timeInfo even timepopup">

                <div class="time-cell">
                    <input type="number" class="form-control entryInput3" ng-model="from">
                    <select class="form-control  entryInput2" >
                        <option  value="AM" selected>AM</option>
                        <option  value="PM">PM</option>
                    </select>
                </div>		
            </div>    

            <div class="timeTo">TO </div>

            <div class="timeInfo">

                <div class="time-cell">        
                    <input type="number" class="form-control entryInput3" ng-model="to">
                    <select class="form-control  entryInput2" >
                        <option  value="AM" selected>AM</option>
                        <option  value="PM">PM</option>
                    </select>
                </div>	
            </div>   
           
        </div>
        <div class="submittimebtn"> <button type="button" class="btn btn-default saveBtn" ng-click="save_time()">Save & Close </button> </div>
        </div>
        <button type="button" ng-click="showPop()" >Time Picker</button>



    </body>
</html>
